<!-- Layout wrapper -->
<div class="layout-wrapper layout-content-navbar">
   <div class="layout-container">
      <!-- Menu -->
      {{>aside}}
      <!-- / Menu -->

      <!-- Layout container -->
      <div class="layout-page">
         <!-- Navbar -->
         {{>header}}

         <!-- / Navbar -->

         <!-- Content wrapper -->
         <div class="content-wrapper">
            <!-- Content -->
            <div class="card">
               <h5 class="card-header">Table Basic</h5>
               <div class="table-responsive text-nowrap">
                  <table class="table">
                     <thead>
                        <tr>
                           <th>SL NO</th>

                           <th>DATE</th>
                           <th>MOBILE</th>
                           <th>PRICE</th>
                           <th>PAYMENT</th>

                           <th>STATUS</th>
                           <th>EDIT STATUS</th>
                           <th>VIEW</th>

                        </tr>
                     </thead>



                     <tbody class="table-border-bottom-0">
                        {{#each orderedProducts}}
                        <tr>

                           <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{@index}}</strong> </td>

                           <td>{{this.orderDetails.date}}</td>


                           <td>{{this.orderDetails.deliveryDetails.phone}}</td>



                           <td>{{this.orderDetails.products.product.price}}</td>

                           <td>{{this.orderDetails.paymentMethod}}</td>
                           <td>{{this.orderDetails.status}}</td>

                           <td>
                              {{#if this.cancelled}}
                              <p>cancelled</p>
                              {{else}}
                              {{#if this.delivered}}
                              <p>delivered</p>
                              {{else}}

                              <select class="btn btn-success text-white" name="forma" onchange="location = this.value;">
                                 <option>Change Status</option>
                                   <option
                                    value="/admin/change_status?id={{this._id}}&status=pending">
                                    pending</option>
                                 <option
                                    value="/admin/change_status?id={{this._id}}&status=shipped">
                                    shipped</option>
                                      <option
                                    value="/admin/change_status?id={{this._id}}&status=out_for_delivery">
                                    Out for delivery</option>
                                 <option
                                    value="/admin/change_status?id={{this._id}}&status=delivered">
                                    delivered</option>
                                 <option
                                    value="/admin/change_status?id={{this._id}}&status=cancelled">
                                    canceled</option>
                              </select>
                              {{/if}}
                              {{/if}}


                           </td>
                           <td>


                               {{!-- <a href="/admin/view_userProduct?id={{this.orderDetails.products.[0].item}}"
                                 class="btn btn-success">View</a> --}}

                              <!-- Button trigger modal -->
                              <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                 data-bs-target="#exampleModalCenter{{this._id}}">
                                 View
                              </button>

                              <!-- Modal -->
                              <div class="modal fade " id="exampleModalCenter{{this._id}}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                 <div class="modal-dialog modal-dialog-centered" role="document" >
                                    <div class="modal-content" style="background-color:rgb(184, 219, 178);">
                                       <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLongTitle">View Product</h5>
                                          <button type="button" class="close" data-bs-dismiss="modal" aria-bs-label="Close">
                                             <span aria-hidden="true">&times;</span>
                                          </button>
                                       </div>
                                       <div class="modal-body">       
                                          <table style="border-spacing: 100px;width:100%;height:100%">
                                              <thead>
                                       <tr style="border: 1px solid rgb(73, 70, 70); color: black;">
                                          <th>Product name</th>
                                          <th>Price</th>
                                          <th>User contact details</th>
                                               
                                          
                                       </tr>
                                      </thead>
                                      <tbody>
                                       <tr style="color:rgb(129, 126, 126) ;font-size: 20px;">
                                          <td>{{this.orderDetails.products.[0].product.product_name}}</td>
                                          <td>{{this.orderDetails.totalAmount}}</td>
                                          <td>{{this.orderDetails.deliveryDetails.phone}}</td>
                                          <td></td>
                                       </tr>
                                      
                                      </tbody>
                                      </table>
                                       </div>
                                       {{!-- <div class="modal-footer"> --}}
                                          {{!-- <button type="button" class="btn btn-secondary" --}}
                                             {{!-- data-bs-dismiss="modal">Close</button> --}}
                                          {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
                                       {{!-- </div> --}}
                                    </div>
                                 </div>
                              </div>
                             
                           </td>


                        </tr>
                        {{/each}}
                     </tbody>


                  </table>
               </div>
            </div>
            <!-- Content wrapper -->
         </div>
      </div>
      <!-- / Layout page -->
   </div>
</div>