
{{>user-header-secondary}}




<!-- Product -->
<div class="bg0 m-t-23 p-b-140">
   <div class="container">
      <div class="flex-w flex-sb-m p-b-52">
         <div class="flex-w flex-l-m filter-tope-group m-tb-10">
            <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*" onclick="allProducts()">
               All Products
            </button>

            <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women"  onclick="filterWomen('women')">
               Women
            </button>

            <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men"  onclick="filterMen('men')">
               Men
            </button>


         </div>

         <div class="flex-w flex-c-m m-tb-10">
            <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
               <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
               <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
               Filter
            </div>

            <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
               <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
               <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
               Search
            </div>
         </div>

         <!-- Search product -->
         <div class="dis-none panel-search w-full p-t-10 p-b-15">
            <div class="bor8 dis-flex p-l-15">
               <button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
                  <i class="zmdi zmdi-search"></i>
               </button>

               <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="search-product" placeholder="Search">
            </div>
         </div>

         <!-- Filter -->
         <div class="dis-none panel-filter w-full p-t-10">
            <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
               <div class="filter-col1 p-r-15 p-b-27">
                  <div class="mtext-102 cl2 p-b-15">
                     Sort By
                  </div>

                  <ul>
                    

                     <li class="p-b-6">
                       <a href="/price_filter?filter=low_to_high" class="filter-link stext-106 trans-04">
                           Price: Low to High
                        </a>
                     </li>

                     <li class="p-b-6">
                        <a href="/price_filter?filter=high_to_low" class="filter-link stext-106 trans-04">
                           Price: High to Low
                        </a>
                     </li>
                  </ul>
               </div>

               <div class="filter-col2 p-r-15 p-b-27">
                  <div class="mtext-102 cl2 p-b-15">
                     Price
                  </div>

                  <ul>
                     <li class="p-b-6">
                        <a href="#" class="filter-link stext-106 trans-04 filter-link-active">
                           All
                        </a>
                     </li>

                     <li class="p-b-6">
                        <a href="#" class="filter-link stext-106 trans-04">
                           ₹0.00 - ₹1000.00
                        </a>
                     </li>

                     <li class="p-b-6">
                        <a href="#" class="filter-link stext-106 trans-04">
                           ₹1000.00 - ₹1500.00
                        </a>
                     </li>

                     <li class="p-b-6">
                        <a href="#" class="filter-link stext-106 trans-04">
                           ₹1500.00 - ₹2000.00
                        </a>
                     </li>

                     <li class="p-b-6">
                        <a href="#" class="filter-link stext-106 trans-04">
                           ₹2000.00 - ₹5000.00
                        </a>
                     </li>

                     <li class="p-b-6">
                        <a href="#" class="filter-link stext-106 trans-04">
                           ₹5000.00+
                        </a>
                     </li>
                  </ul>
               </div>

            </div>
         </div>
      </div>


      {{!-- products --}}
      <div class="bg0 m-t-23 p-b-140" id="refresh-section">
         <div class="container" id="refresh">

            <div class="row isotope-grid">
             			{{#each bringdata}}
			<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
				<!-- Block2 -->
				<div class="block2  ">



					<div class="block2-pic hov-img0">
						<img height="300rem" style="object-fit: contain;  border-radius: 75px;"
							src="/multerImage/{{img_id.[0]}}" alt="IMG-PRODUCT">

						<a href="/view_product/{{this._id}}"
							class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 ">
							View Product
						</a>
					</div>

					<div class="block2-txt flex-w flex-t p-t-14 d-flex justify-content-center ">
						<div class="block2-txt-child1 flex-col-l  ms-5">

							<a href="#" class="font-weight-bold text-dark text-uppercase fs-18">
								{{this.product_name}}
							</a>



							<span class="stext-105 cl3 font-weight-bold  " style="color:#7a7a7a ;">
								{{this.brand}}
							</span>
							<span class="fs-17 font-weight-bold text-dark">
								₹ {{this.price}}.00 <span class="ml-3" style="text-decoration: line-through; color: rgb(227, 8, 8);">₹ {{this.actualprice}}.00</span>
								<span style="font-size:20px; font-family: fantasy; color: rgb(15, 202, 30);"  class="ml-2"> {{this.discount}} % Off</span>
							</span>
							

							{{!-- <span class="stext-105 cl3 text-secondary" style="font-size: .8em">
								{{this.description}}
							</span> --}}


						</div>

						<div class="block2-txt-child2 flex-r p-t-3">



                      <a onclick="addToCart('{{this._id}}')" style="margin-right: 10px;">
								<img src="/images/shopping-cart.png" width="25px" >
							
							 </a>



								<a onclick="addToWishlist('{{this._id}}')" style="height: 25px ;color: aliceblue;"
								class="btn-addwish-b2 dis-block pos-relative ">
								<img class="icon-heart1 dis-block trans-04" src="/user/images/icons/icon-heart-01.png"
									alt="ICON" style="height: 25px;">
								<img class="icon-heart2 dis-block trans-04 ab-t-l" src="/user/images/icons/icon-heart-02.png"
									alt="ICON" style="height: 25px;">
							</a>
							
 

						</div>
					</div>

				</div>
			</div>
			{{/each}}
            </div>


            <!-- Load more -->
            <div class="flex-c-m flex-w w-full p-t-45">
               <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
                  Load More
               </a>
            </div>


         </div>
      </div>

   </div>
</div>

{{>user-footer}}
<!-- Footer -->


<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
   <span class="symbol-btn-back-to-top">
      <i class="zmdi zmdi-chevron-up"></i>
   </span>
</div>

<!-- Modal1 -->
{{!-- <div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
   <div class="overlay-modal1 js-hide-modal1"></div>

   <div class="container">
      <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
         <button class="how-pos3 hov3 trans-04 js-hide-modal1">
            <img src="/user/images/icons/icon-close.png" alt="CLOSE">
         </button>

         <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
               <div class="p-l-25 p-r-30 p-lr-0-lg">
                  <div class="wrap-slick3 flex-sb flex-w">
                     <div class="wrap-slick3-dots"></div>
                     <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                     <div class="slick3 gallery-lb">
                        <div class="item-slick3" data-thumb="/user/images/product-detail-01.jpg">
                           <div class="wrap-pic-w pos-relative">
                              <img src="/user/images/product-detail-01.jpg" alt="IMG-PRODUCT">

                              <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                 href="/user/images/product-detail-01.jpg">
                                 <i class="fa fa-expand"></i>
                              </a>
                           </div>
                        </div>

                        <div class="item-slick3" data-thumb="/user/images/product-detail-02.jpg">
                           <div class="wrap-pic-w pos-relative">
                              <img src="/user/images/product-detail-02.jpg" alt="IMG-PRODUCT">

                              <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                 href="/user/images/product-detail-02.jpg">
                                 <i class="fa fa-expand"></i>
                              </a>
                           </div>
                        </div>

                        <div class="item-slick3" data-thumb="/user/images/product-detail-03.jpg">
                           <div class="wrap-pic-w pos-relative">
                              <img src="/user/images/product-detail-03.jpg" alt="IMG-PRODUCT">

                              <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                 href="/user/images/product-detail-03.jpg">
                                 <i class="fa fa-expand"></i>
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-md-6 col-lg-5 p-b-30">
               <div class="p-r-50 p-t-5 p-lr-0-lg">
                  
                  <!--  -->
                  <div class="p-t-33">
                     
                  

                     <div class="flex-w flex-r-m p-b-10">
                        <div class="size-204 flex-w flex-m respon6-next">
                           <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                              <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                 <i class="fs-16 zmdi zmdi-minus"></i>
                              </div>

                              <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product"
                                 value="1">

                              <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                 <i class="fs-16 zmdi zmdi-plus"></i>
                              </div>
                           </div>

                           <button
                              class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                              Add to cart
                           </button>
                        </div>
                     </div>
                  </div>

                  <!--  -->
                  <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                     <div class="flex-m bor9 p-r-10 m-r-11">
                        <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100"
                           data-tooltip="Add to Wishlist">
                           <i class="zmdi zmdi-favorite"></i>
                        </a>
                     </div>

                     <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                        data-tooltip="Facebook">
                        <i class="fa fa-facebook"></i>
                     </a>

                     <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                        data-tooltip="Twitter">
                        <i class="fa fa-twitter"></i>
                     </a>

                     <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100"
                        data-tooltip="Google Plus">
                        <i class="fa fa-google-plus"></i>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div> --}}





<script src="/ajax.js"></script>