<div class="container-fluid"
    style="height:max-content;   background: rgb(194,195,195);background: linear-gradient(103deg, rgba(194,195,195,1) 7%, rgba(180,255,244,1) 71%, rgba(225,226,226,1) 100%);">

    <nav class="navbar navbar-expand-lg navbar-light bg-ligh">
        <div class="container" style="background-color:#f0ecec;">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynav"
                aria-controls="mynav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <div class="d-flex">
                    {{! <div class="d-flex align-items-center logo bg-purple">
                        <div class="fab fa-joomla h2 text-white"></div>
                    </div> }}
                    <div class="d-flex align-items-center">
                        <img src="/images/D-trendzz logo.png" class="ms-3" style="height:2.5rem;" />
                        {{! <div class="fab fa-joomla h2 text-white"></div> }}
                    </div>
                    <div class="ms-3 d-flex flex-column">
                        <div class="h4">D-trendzz</div>
                        <div class="fs-6">Trendzz never endzz</div>
                    </div>
                </div>
            </a>
            <div class="collapse navbar-collapse" id="mynav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home
                            <span class="fas fa-th-large px-1"></span></a>
                    </li>
             
                    <li class="nav-item">
                        <p class="nav-link">
                            Hello<span class="text-uppercase">
                                {{isusersession.firstname}}</span>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-3 my-lg-0 my-md-1">
                <div id="sidebar" class="bg-purple">
                    <div class="h4 text-white">Account</div>
                    <ul>
                        
                        <li>
                            <a href="/orderlist_page" class="text-decoration-none d-flex align-items-start">
                                <div class="fas fa-box-open pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">My Orders</div>
                                    <div class="link-desc">View & Manage orders and returns</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/my_profile" class="text-decoration-none d-flex align-items-start">
                                <div class="fas fa-box-open pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">My profile</div>
                                    <div class="link-desc">View & Edit your profile</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/cart" class="text-decoration-none d-flex align-items-start">
                                <div class="fas fa-box-open pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">My Cart</div>
                                    <div class="link-desc">View & Manage cart items</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/wishlist" class="text-decoration-none d-flex align-items-start">
                                <div class="fas fa-box-open pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">My wishlist</div>
                                    <div class="link-desc">View & Manage wishlist items</div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-9 my-lg-0 my-1">
                <div id="main-content" class="bg-white border"
                    style=" background: rgb(194,195,195);background: linear-gradient(103deg, rgba(194,195,195,1) 7%, rgba(180,255,244,1) 71%, rgba(225,226,226,1) 100%);">
                    <div class="d-flex flex-column">

                        <div class="h5">
                            <p class="nav-link">
                                Hello<span class="text-uppercase">
                                    {{isusersession.firstname}}</span>
                            </p>
                        </div>
                        <div>Logged in as: {{isusersession.email}}</div>
                    </div>
                    <div class="d-flex my-4 flex-wrap">
                        <div class="box me-4 my-1 bg-light">
                            <img src="https://www.freepnglogos.com/uploads/box-png/cardboard-box-brown-vector-graphic-pixabay-2.png"
                                alt="" />
                            <div class="d-flex align-items-center mt-2">
                                <div class="tag">Total orders</div>
                                <div class="ms-auto number ml-2">{{orderCount}}</div>
                            </div>
                        </div>
                        <div class="box me-4 my-1 bg-light">
                            <img src="https://www.freepnglogos.com/uploads/shopping-cart-png/shopping-cart-campus-recreation-university-nebraska-lincoln-30.png"
                                alt="" />
                            <div class="d-flex align-items-center mt-2">
                                <div class="tag">Items in Cart</div>
                                <div class="ms-auto number ml-2">{{cartCount}}</div>
                            </div>
                        </div>
                        <div class="box me-4 my-1 bg-light">
                            <img src="https://www.freepnglogos.com/uploads/love-png/love-png-heart-symbol-wikipedia-11.png"
                                alt="" />
                            <div class="d-flex align-items-center mt-2">
                                <div class="tag">Wishlist</div>
                                <div class="ms-auto number ml-2">{{wishlistCount}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="text-uppercase">My recent orders</div>

                    {{#each orderlistProducts}}
                    <div class="order my-3 bg-light">
                        <div class="row d-flex flex-row justify-content-around">
                            
                            <div class="col-lg-4" style="">
                                <div class="d-flex flex-column justify-content-between flex-wrap order-summary">
                                    <div class="d-flex align-items-center">
                                        <div class="text-uppercase">Order : {{@index}}</div>
                                        {{! <div class="blue-label ms-auto text-uppercase">paid</div> }}
                                    </div>
                                    <div class="fs-8">
                                        <p style="font-size:20px; color: crimson;">Product
                                            :{{this.orderDetails.products.product.product_name}}</p>
                                    </div>
                                     <div class="fs-8">
                                        <p style="font-size:15px;">Price :
                                            {{this.orderDetails.products.product.price}}</p>
                                    </div>
                                    <div class="fs-8">
                                        <p style="font-size:15px;">Quantity
                                            :{{this.orderDetails.products.quantity}}</p>
                                    </div>
                                    <div class="fs-8" style="padding-bottom: 36px;">{{this.orderDetails.date}}</div>
                                  
                                </div>
                                
                            </div>
                               <div style="height: 50px;;" ><img style="height:50px; margin-top: 60%;" src="/multerImage/{{this.orderDetails.products.product.img_id.[0]}}" ></div>
                            <div class="col-lg-2">
                                <div class="d-sm-flex align-items-sm-start justify-content-sm-between">

                                    <div class="">
                                    </div>




                                  

                                    <!-- Large modal -->
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target=".bd-example-modal-lg{{this._id}}">Track Order</button>

                                    <div class="modal fade bd-example-modal-lg{{this._id}} mt-5" tabindex="-1"
                                        role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">

                                                <section class="vh-100" style="background-color: #000000; ">
                                                    <div class="container py-5 h-100" style="margin-top: 20px;">
                                                        <div
                                                            class="row d-flex justify-content-center align-items-center h-100">
                                                            <div class="col-12">
                                                                <div class="card card-stepper text-black"
                                                                    style="border-radius: 16px;">

                                                                    <div class="card-body p-5">

                                                                        <div
                                                                            class="d-flex justify-content-between align-items-center mb-5">
                                                                            <div>
                                                                                <h5 class="mb-0">Price
                                                                                    <span
                                                                                        class="text-primary font-weight-bold">
                                                                                        ₹
                                                                                        {{this.orderDetails.products.product.price}}</span>
                                                                                </h5>
                                                                            </div>

                                                                        </div>

                                                                        <ul id="progressbar-2"
                                                                            class="d-flex justify-content-between mx-0 mt-0 mb-5 px-0 pt-0 pb-2">

                                                                            {{#if this.pending}}
                                                                            <li class="step0 active text-center"
                                                                                id="step1"></li>
                                                                            <li class="step0 text-muted text-end"
                                                                                id="step2"></li>
                                                                            <li class="step0 text-muted text-end"
                                                                                id="step3"></li>
                                                                            <li class="step0 text-muted text-end"
                                                                                id="step4"></li>
                                                                            {{/if}}

                                                                            {{#if this.shipped}}
                                                                            <li class="step0 active text-center"
                                                                                id="step1"></li>
                                                                            <li class="step0 active text-center"
                                                                                id="step2"></li>
                                                                            <li class="step0 text-muted text-end"
                                                                                id="step3"></li>
                                                                            <li class="step0 text-muted text-end"
                                                                                id="step4"></li>
                                                                            {{/if}}

                                                                            {{#if this.out_for_delivery}}
                                                                            <li class="step0 active text-center"
                                                                                id="step1"></li>
                                                                            <li class="step0 active text-center"
                                                                                id="step2"></li>
                                                                            <li class="step0 active text-center"
                                                                                id="step3"></li>
                                                                            {{! <li class="step0 active text-center"
                                                                                id="step1"></li> }}
                                                                            <li class="step0 text-muted text-end"
                                                                                id="step4"></li>
                                                                            {{/if}}

                                                                            {{#if this.delivered}}
                                                                            <li class="step0 active text-center"
                                                                                id="step1"></li>
                                                                            <li class="step0 active text-center"
                                                                                id="step2"></li>
                                                                            <li class="step0 active text-center"
                                                                                id="step3"></li>
                                                                            <li class="step0 active text-center"
                                                                                id="step4"></li>
                                                                            {{/if}}

                                                                        </ul>
                                                                        {{#if this.cancelled}}
                                                                        <h1 class="d-flex justify-content-center">
                                                                            This order is no-longer available</h1>
                                                                        {{else}}
                                                                        <div class="d-flex justify-content-between">
                                                                            <div class="d-lg-flex align-items-center">
                                                                                <i
                                                                                    class="fas fa-clipboard-list fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                                                                                <div>
                                                                                    <p class="fw-bold mb-1">Order
                                                                                    </p>
                                                                                    <p class="fw-bold mb-0">pending
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="d-lg-flex align-items-center">
                                                                                <i
                                                                                    class="fas fa-box-open fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                                                                                <div>
                                                                                    <p class="fw-bold mb-1">Order
                                                                                    </p>
                                                                                    <p class="fw-bold mb-0">Shipped
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="d-lg-flex align-items-center">
                                                                                <i
                                                                                    class="fas fa-shipping-fast fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                                                                                <div>
                                                                                    <p class="fw-bold mb-1">Order
                                                                                    </p>
                                                                                    <p class="fw-bold mb-0">Out for
                                                                                        delivery</p>
                                                                                </div>
                                                                            </div>
                                                                            <div class="d-lg-flex align-items-center">
                                                                                <i
                                                                                    class="fas fa-box-open fa-3x me-lg-4 mb-3 mb-lg-0"></i>
                                                                                <div>
                                                                                    <p class="fw-bold mb-1">Order
                                                                                    </p>
                                                                                    <p class="fw-bold mb-0">
                                                                                        Delivered</p>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        {{/if}}

                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                {{!-- <div class="progressbar-track">
                                    <ul class="progressbar">

                                    </ul>
                                    <div id="tracker"></div>
                                </div> --}}
                            </div>
                        </div>
                    </div>

                    {{/each}}

                </div>
            </div>
        </div>

    </div>

</div>